/* CSS Document */
/* title 标题 */
.check_box{background:#FFF; border:1px solid #23b7fa; height:auto; z-index:99999999999;}
.check_title_box{ width:100%;}
.check_title{height:31px; line-height:31px; background:url(/static/ads_c_2.0/web/images/pub_bg.gif) repeat-x 0 -200px; padding-left:15px;}
.check_title b{ float:left;}
.check_title b a{ color:#00F;}
.check_title span{ float:right; padding:7px 10px 0 0;}
/* check_cont */
.check_box .check_main{ width:100%;background:none;}
.check_box .check_main .check_cont{padding:10px;  display:table-cell; vertical-align:middle;}
.check_box .check_main .check_cont_step3{padding:10px; height:320px; width:320px;position:relative; display:table-cell; vertical-align:middle; text-align:center;}
.check_box .check_main .check_cont_step3 i {*display:inline-block;*height:100%;*vertical-align:middle;}
.check_box .check_main .check_cont_step3 span{*position:absolute; /*针对IE6/7的Hack*/	top:50%; /*针对IE6/7的Hack*/ z-index:-999;}
.check_box .check_main .check_cont_step3 img{*vertical-align:middle;}

.check_box .check_main .miaoshu{ padding:0 10px 0px 10px;border-bottom:1px solid #23b7fa; margin-bottom:10px; height:70px; overflow:hidden;}	
.check_box .check_main .miaoshu_noborder{ border:none;}	

.check_box .check_main .miaoshu p.xia_line{ height:26px; line-height:26px; text-decoration:underline; height:26px; overflow:hidden; word-break:break-all; word-wrap:break-word;}
.check_box .check_main .miaoshu p.m_guige{ color:#999; height:26px;}
.check_box .check_main .miaoshu p.m_web{ font-weight:bold; color:#008000; height:26px;}
.check_box .check_main .miaoshu p a.download{ float:right; width:13px; height:14px;background:url(/static/ads_c_2.0/web/images/download_01.gif) no-repeat center center;}
.check_box .check_main .miaoshu p a.download:hover{ float:right; width:13px; height:14px;background:url(/static/ads_c_2.0/web/images/download_02.gif) no-repeat center center;}
/* 附加创意的预览 */
.addp_main{ overflow:hidden; background:#FFF; padding:0 0 20px 15px;}

/* match_cont */
.match_cont{ padding:10px; height:auto;}
.match_cont .match_check{ height:30px; line-height:30px;}
.match_check span{ display:block; float:left; width:100px; text-align:right;}
.match_check input{ vertical-align:middle;}
.match_check label{ display:block; float:left; margin-right:30px;}
.match_cont .batch_span{ width:75px;}
.match_cont .batch_span1{ width:100px; line-height:20px;}
.match_cont .batch_input{float:left;}
.match_cont .batch_input input{ height:18px; line-height:18px;}
.match_cont .batch_input input.ba_input1{ width:180px;}
.match_cont .batch_input i{ font-style:normal;}


