/* CSS Document */
.refuse_backg{ background:#0681bf; width:384px; min-height:160px; padding:0 10px 10px 10px; font-size:12px; font-family:宋体;}
ul,ol,li,dl,dt,dd{ display:block; padding:0; margin:0; list-style:none;}
.title{ width:231px; height:30px; background:url(/static/ads_m_1.0/web/images/refuse.gif) no-repeat; margin:0 auto; text-align:center; color:#FFF; line-height:30px; font-weight:bold;}
.cont{ background:#FFF; min-height:130px; padding:20px 10px 10px 10px;}
.cont_wm_ds{ background:#0681bf; min-height:130px; padding:0px;}

.cont_wm_ds .wm_cont{ background:#FFF; min-height:90px; margin:0px 10px 10px 10px; padding-top:15px; padding-bottom:10px;}
.cont_wm_ds .dsp_cont{ background:#FFF; min-height:90px; margin:0px 10px 10px 10px; padding-top:15px; padding-bottom:10px;}

.cont ul li{ height:30px; line-height:30px;}
.cont ul li a{ display:block; width:65px; height:20px; line-height:20px; float:left; text-align:center; background:url(/static/ads_m_1.0/web/images/icon.gif) no-repeat 0 -400px; margin-left:20px;}
.cont ul li a:link,.cont ul li a:visited{ color:#000; font-weight:bold;text-decoration:none;}
.cont ul li a:hover{ background:url(/static/ads_m_1.0/web/images/icon.gif) no-repeat 0 -350px; color:#FFF; text-decoration:none;}
.cont ul li.p30{ clear:both; padding: 10px 0 0 100px;}
.cont ul li.p50{ clear:both; padding: 10px 0 0 140px;}
.cont ul li.p40{ clear:both; padding: 10px 0 0 100px;}

.cont ul li.w200{ width:210px; text-align:left;  float:left;}
.cont ul li.w130{ width:130px; text-align:right; float:left;}

/* cont_t start */
.cont .cont_t{ width:360px;height:auto; overflow:auto;}
.cont .cont_t ul{ height:auto; overflow:auto;}
.cont .cont_t ul li{line-height:22px;height:auto; overflow:auto; margin:4px 0;}
.cont .cont_t ul li.t_lf{ float:left; width:100px; text-align:right;}
.cont .cont_t ul li.t_rg{ float:right; width:240px; text-align:left; padding-right:20px;}
.cont .cont_t ul li.t_rg i{ font-style:normal;}
.cont .cont_b{ width:360px;height:auto; overflow:auto;}
.cont .cont_b ul{height:auto; overflow:auto; }
.cont .cont_b ul li{line-height:22px;height:auto; overflow:auto; margin:4px 0;}
.cont .cont_b ul li.b_lf{ float:left; width:100px; text-align:right;}
.cont .cont_b ul li.b_rg{ float:right;width:240px; text-align:left; padding-right:20px;}
.cont ul li.w200{ width:210px; height:auto; text-align:left;  float:left;}
.cont ul li.w130{ width:125px;height:auto; text-align:right; float:left;}

.write_reason{ height:100px; width:340px; margin:0 auto; margin-bottom:20px;}
.write_reason .write_reason_text{ height:100px; width:340px; resize:none;}

.write_pingzheng{ height:60px; width:340px; margin:0 auto; margin-bottom:20px;}

/* cont_t end */

/* r_btn 两个按钮自动居中 */
.r_btn{ clear:both;height:22px; margin-top:10px;}
.r_btn ul,.r_btn ul li{ width:170px;height:22px;}
.r_btn ul.new_one_btn,.r_btn ul.new_one_btn li{ width:65px;height:22px;}
.r_btn ul li a{ color:#000; display:block; width:65px; height:20px; line-height:22px; float:left;  font-weight:bold;text-align:center; background:url(/static/ads_m_1.0/web/images/icon.gif) no-repeat 0 -400px; margin: 0 10px;}
.r_btn ul.new_one_btn li a{ margin:0;}
.r_btn ul li a:link,.r_btn ul li a:visited{ color:#000; font-weight:bold;text-decoration:none;}
.r_btn ul li a:hover{ background:url(/static/ads_m_1.0/web/images/icon.gif) no-repeat 0 -350px; color:#FFF; text-decoration:none;}
/* refuse_btn 一个按钮自动居中 */
.r_btn ol,.r_btn ol li{ width:85px;height:22px;}
.r_btn ol li a{ color:#000; display:block; width:65px; height:20px; line-height:22px; float:left; text-align:center; background:url(/static/ads_m_1.0/web/images/icon.gif) no-repeat 0 -400px; margin: 0 10px;}
.r_btn ol li a:link,.r_btn ol li a:visited{ color:#000; font-weight:bold;text-decoration:none;}
.r_btn ol li a:hover{ background:url(/static/ads_m_1.0/web/images/icon.gif) no-repeat 0 -350px; color:#FFF; text-decoration:none;}

