@charset "utf-8";
/* CSS Document */
body{ margin:0; padding:0;}
.dl_box{ width:120px; height:240px; background:#fff;}
.dl_box_nk{position:absolute; left:0;}
.dl_box_fk{position:absolute; right:0;}

.dl_box a.close_link {position: absolute;right: 0;top: 0;z-index: 999;}
.dl_box a {color: #fff;cursor: pointer;display: inline-block;float: left;font-family: "宋体";overflow: hidden;text-align: center;text-decoration: none;}
.dl_box a img{ border:none;}
.dl_box .dl_img1{ width:120px; height:240px;}
.dl_main{width:120px; height:240px; overflow:hidden; font-family:微软雅黑;}
.dl_main .dl_a_link1{display:block;height:240px; width:60px; float:left;color:#fff; text-decoration:none; cursor:pointer;overflow:hidden;word-wrap: break-word;}
.dl_main .dl_a_link1 i{display:block;width:20px; margin:0 auto;text-align:center; font-style:normal; padding-top:30px; cursor:pointer;}

.dl_main .dl_rg{width:59px; float:right; height:240px;}
.dl_main .dl_rg a{display:block; width:59px;color:#fff; text-decoration:none; cursor:pointer;}
.dl_main .dl_rg a.dl_a_link2{height:120px; margin-bottom:1px;}
.dl_main .dl_rg a.dl_a_link3{height:119px; }
.dl_main .dl_rg a i{display:block;width:20px; margin:0 auto;text-align:center; font-style:normal; padding-top:2px; cursor:pointer;overflow:hidden;word-wrap: break-word;}
.dl_main .dl_rg a.dl_a_link2 i{ padding-top:4px;}
.nk_blue{ background:#4675ad;}
.nk_light_blue{ background:#349ca5;}
.nk_green{ background:#57a535;}
.fk_purple { background:#a843a3;}
.fk_light_red{ background:#e25a8c;}
.fk_pink{ background:#f87ac1;}
.font_size1{ font-size:20px;}
.font_size2{ font-size:14px; line-height:18px;}
.font_size3{ font-size:12px; line-height:16px; }
.font_size4{ font-size:24px;}



