@charset "utf-8";
/* CSS Document */
body{font-family: "宋体"; margin:0; padding:0;}
.cjjs_box{ width:250px; height:250px; background:#fff; position:absolute; right:0; bottom:0;}
.dl_img,.half_main{width:250px; height:250px; background:#fff;}
.cjjs_box a{display: inline-block;font-family: "宋体";overflow: hidden;text-align: center;text-decoration: none; float:left; cursor:pointer;color: #fff;}
.cjjs_box a.block1{background: #4792ff;border:2px solid #4792ff;height: 25px;line-height: 25px;width: 120px;}
.cjjs_box a.block1:hover{ border:2px solid #4792ff;background:#fff; color:#000;}

.cjjs_box a.block5{background: #4792ff;border:2px solid #4792ff;height: 21px;line-height: 21px;width: 120px;}
.cjjs_box a.block5:hover{ border:2px solid #4792ff;background:#fff; color:#000;}

.cjjs_box a.block2{background: #71cdc9;border:2px solid #71cdc9;height: 56px;line-height:56px;width: 120px;}
.cjjs_box a.block2:hover{ border:2px solid #71cdc9;background:#fff; color:#000;}

.cjjs_box a.block3{background: #ad68d7;border:2px solid #ad68d7;height: 48px;line-height: 48px;width:245px;}
.cjjs_box a.block3:hover{ border:2px solid #ad68d7;background:#fff; color:#000;}

.cjjs_box a.block4{background: #71cdc9;border:2px solid #71cdc9;height: 47px;line-height:47px;width: 120px;}
.cjjs_box a.block4:hover{ border:2px solid #71cdc9;background:#fff; color:#000;}

.cjjs_box a.font13{font-size: 13px; }
.cjjs_box a.font15{font-size: 15px; }
.cjjs_box a.font18{font-size: 18px;}
.cjjs_box a.font24{font-size: 22px;}
.cjjs_box a.font16{font-size: 16px;}

.cjjs_box a.po1_t0f0{ position:absolute; top:0; left:0;}
.cjjs_box a.po1_t0fn{ position:absolute; top:0; left:125px;}
.cjjs_box a.po1_tnf0{ position:absolute; top:30px; left:0; }
.cjjs_box a.po1_tn1f0{ position:absolute; top:109px; left:125px;}
.cjjs_box a.po1_tn1fn1{ position:absolute; top:83px; left:125px;}
.cjjs_box a.po2_t0f0{ position:absolute; top:0; left:0;}
.cjjs_box a.po2_tnf0{ position:absolute; top:60px; left:0;}
.cjjs_box a.po2_tnfn{ position:absolute; top:60px; left:106px;}
.cjjs_box a.po1_tn2f0{ position:absolute; top:83px; left:0;}
.cjjs_box a.po1_tn3f0{ position:absolute; top:135px; left:0;}
.cjjs_box a.po1_tn4fn2{position:absolute; top:188px; left:0;}
.cjjs_box a.po1_tn5fn3{position:absolute; top:188px; left:125px;}

.cjjs_box a.close_link {position: absolute;right: 1px;top: 0;z-index: 999;}
.cjjs_box a {color: #fff;cursor: pointer;display: inline-block;float: left;font-family: "宋体";overflow: hidden;text-align: center;text-decoration: none;}